<script type="text/javascript">
$('#inner-content').removeClass('inner-content');
</script>
<div id="rewards-section">
  <div id="rewards-tab"><div class="rewards-text">Prizes</div></div>
  <div id="rewards">
    <div class="reward">
      &nbsp;&nbsp;4 x <span class="stars-cost-image"><%= image_tag("images/rating-star.png") %></span>
      <span class="reward-image"><%= link_to image_tag("images/massage.png"), buy_path(:what => :massage), :onclick => 'buy_prize("massage"); return false;' %></span>
    </div>
    <div class="reward">
      &nbsp;&nbsp;4 x <span class="stars-cost-image"><%= image_tag("images/rating-star.png") %></span>
      <span class="reward-image"><%= link_to image_tag("images/popcorn.png"), buy_path(:what => :popcorn), :onclick => 'buy_prize("popcorn"); return false;' %></span>
    </div>
    <div class="reward">
      &nbsp;&nbsp;8 x <span class="stars-cost-image"><%= image_tag("images/rating-star.png") %></span>
      <span class="reward-image"><%= link_to image_tag("images/sundae.png"), buy_path(:what => :sundae), :onclick => 'buy_prize("sundae"); return false;' %></span>
    </div>
    <div class="reward">
      10 x <span class="stars-cost-image"><%= image_tag("images/rating-star.png") %></span>
      <span class="reward-image"><%= link_to image_tag("images/taxi.png"), buy_path(:what => :taxi), :onclick => 'buy_prize("taxi"); return false;' %></span>
    </div>
    <div class="reward">
      16 x <span class="stars-cost-image"><%= image_tag("images/rating-star.png") %></span>
      <span class="reward-image"><%= link_to image_tag("images/tickets.png"), buy_path(:what => :tickets), :onclick => 'buy_prize("tickets"); return false;' %></span>
    </div>
    <div class="reward">
      20 x <span class="stars-cost-image"><%= image_tag("images/rating-star.png") %></span>
      <span class="reward-image"><%= link_to image_tag("images/dinner.png"), buy_path(:what => :dinner), :onclick => 'buy_prize("dinner"); return false;' %></span>
    </div>
  </div>
</div>

<div id="right-panel">
  <div id="stars">
    <% @user.stars.times do %>
    <%= image_tag "images/rating-star.png" %>
    <% end %>
    <br />
    <p>You have <span id="num-stars"><%= pluralize(@user.stars, 'star') %></span>.</p>
  </div>
  <br />
  <div id="prizes">
    <div id="tickets">
      <% @user.movie_tickets.times do %>
      <%= image_tag("images/tickets.png") %>
      <% end %>
    </div>
    <div id="taxi">
      <% @user.movie_tickets.times do %>
      <%= image_tag("images/taxi.png") %>
      <% end %>
    </div>
    <div id="popcorn">
      <% @user.popcorn.times do %>
      <%= image_tag("images/popcorn.png") %>
      <% end %>
    </div>
    <div id="massage">
      <% @user.massages.times do %>
      <%= image_tag("images/massage.png") %>
      <% end %>
    </div>
    <div id="sundae">
      <% @user.sundaes.times do %>
      <%= image_tag("images/sundae.png") %>
      <% end %>
    </div>
    <div id="dinner">
      <% @user.dinner.times do %>
      <%= image_tag("images/dinner.png") %>
      <% end %>
    </div>
  </div>
</div>

<div id="activities">

  <%= form_tag('/enter_time', :method => "get") do %>
  <p>
    <%= image_tag "images/yoga.png" %>
    <%= image_tag "images/#{@user.yoga}.png", :id => 'yoga_num' %>
    <%= image_tag "images/up-arrow.png", :onclick => 'yogaUp();', :class => 'up-arrow'  %>
    <%= image_tag "images/up-arrow.png", :onclick => 'yogaDown();', :class => 'down-arrow flip-vertical' %>
    <%= text_field(:user, :yoga, :style => 'display: none;') %>
  </p>

  <p id="gym">
    <%= image_tag "images/gym.png" %>
    <%= image_tag "images/#{@user.gym}.png", :id => 'gym_num' %>
    <%= image_tag "images/up-arrow.png", :onclick => 'gymUp();', :class => 'up-arrow'  %>
    <%= image_tag "images/up-arrow.png", :onclick => 'gymDown();', :class => 'down-arrow flip-vertical' %>
    <%= text_field(:user, :gym, :style => 'display: none;') %>
  </p>

  <p>
    <%= image_tag "images/meditation.png" %>
    <%= image_tag "images/#{@user.meditation}.png", :id => 'meditation_num' %>
    <%= image_tag "images/up-arrow.png", :onclick => 'meditationUp();', :class => 'up-arrow'  %>
    <%= image_tag "images/up-arrow.png", :onclick => 'meditationDown();', :class => 'down-arrow flip-vertical' %>
    <%= text_field(:user, :meditation, :style => 'display: none;') %>
  </p>

  <p>
    <%= submit_tag("Submit", :onclick => 'formSubmit();') %>
  </p>
  <% end %>
</div>

<script type="text/javascript">
var yogaNum = <%= @user.yoga %>;
var meditationNum = <%= @user.meditation %>;
var gymNum = <%= @user.gym %>;

function yogaUp() {
    yogaNum = up(yogaNum, '#yoga_num');
}

function yogaDown() {
    yogaNum = down(yogaNum, '#yoga_num');
}

function meditationUp() {
    meditationNum = up(meditationNum, '#meditation_num');
}

function meditationDown() {
    meditationNum = down(meditationNum, '#meditation_num');
}

function gymUp() {
    gymNum = up(gymNum, '#gym_num');
}

function gymDown() {
    gymNum = down(gymNum, '#gym_num');
}

function up(num, id) {
    if (num < 9) {
        num++;
    }
    changeSrc(num, id);
    return num;
}

function down(num, id) {
    if (num > 0)
        num--;
    changeSrc(num, id);
    return num;
}


function changeSrc(num, id) {
    if (num == 1)
        $(id).addClass('one');
    else
        $(id).removeClass('one');
    $(id)[0].src = '/assets/images/' + num + '.png';

    
}

function formSubmit() {
    $('#user_yoga')[0].value = yogaNum;
    $('#user_gym')[0].value = gymNum;
    $('#user_meditation')[0].value = meditationNum;
}

if (yogaNum == 1)
    $('#yoga_num').addClass('one');

if (gymNum == 1)
    $('#gym_num').addClass('one');

if (meditationNum == 1)
    $('#meditation_num').addClass('one');


var out = false;
function rewards() {
    if (out == false) {
	config = {left: '+=230'};
	out = true;
    }
    else {
	config = {left: '-=230'};
	out = false;
    }
    $('#rewards-section').animate(config, 1000, function() {

    });

}

function buy_prize(what) {
    $.post('<%= buy_path %>', {what: what}, 
	  function(data) {
	      if (data.success == 0) {
		  $('.alert').html('You do not have enough stars to buy this!');
		  return;
	      }
	      else {
		  var stars = $('#stars img');
		  var fadeStars = stars.slice(stars.length - data.stars);
		  fadeStars.fadeOut('slow', function() {
		      fadeStars.remove();
		  });
		  var numStars = $('#num-stars').html().match(/[0-9]+/)[0];
		  numStars -= data.stars;
		  var html = numStars + ' star';
		  if (numStars != 1)
		      html += 's';
		  $('#num-stars').html(html);

		  $('#' + what).append($('<img src="/assets/images/' + what + '.png" alt="' + what + '">'));
	      }
	  });
}

$('#rewards-tab').click(function() {
    rewards();
});

</script>
