<script>
$('#inner-content').removeClass('inner-content');
</script>
<div id="rewards">
  <%= link_to image_tag("images/movie-tickets.png"), buy_path(:what => :movie_ticket), :onclick => 'buy_tickets(); return false;' %>
</div>

  <div id="stars">
    <% @user.stars.times do %>
      <%= image_tag "images/rating-star.gif" %>
    <% end %>
    <br />
    <p>You have <%= pluralize(@user.stars, 'star') %>.</p>
    <br />
    <br />
    <% @user.movie_tickets.times do %>
    <%= image_tag("images/movie-tickets.png") %>
    <% end %>
  </div>

<div id="activities">

  <%= form_tag('/enter_time', :method => "get") do %>
  <p>
    <%= image_tag "images/yoga.png" %>
    <%= image_tag "images/#{@user.yoga}.png", :id => 'yoga_num' %>
    <%= image_tag "images/up-arrow.png", :onclick => 'yogaUp();', :class => 'up-arrow'  %>
    <%= image_tag "images/down-arrow.png", :onclick => 'yogaDown();', :class => 'down-arrow' %>
    <%= text_field(:user, :yoga, :style => 'display: none;') %>
  </p>

  <p id="gym">
    <%= image_tag "images/gym.png" %>
    <%= image_tag "images/#{@user.gym}.png", :id => 'gym_num' %>
    <%= image_tag "images/up-arrow.png", :onclick => 'gymUp();', :class => 'up-arrow'  %>
    <%= image_tag "images/down-arrow.png", :onclick => 'gymDown();', :class => 'down-arrow' %>
    <%= text_field(:user, :gym, :style => 'display: none;') %>
  </p>

  <p>
    <%= image_tag "images/meditation.png" %>
    <%= image_tag "images/#{@user.meditation}.png", :id => 'meditation_num' %>
    <%= image_tag "images/up-arrow.png", :onclick => 'meditationUp();', :class => 'up-arrow'  %>
    <%= image_tag "images/down-arrow.png", :onclick => 'meditationDown();', :class => 'down-arrow' %>
    <%= text_field(:user, :meditation, :style => 'display: none;') %>
  </p>

  <p>
    <%= submit_tag("Submit", :onclick => 'formSubmit();') %>
  </p>
  <% end %>

  <br/>
  <%= link_to "Rewards", '#', :onclick => 'rewards(); return false;' %>

<script>
var yogaNum = <%= @user.yoga %>;
var meditationNum = <%= @user.meditation %>;
var gymNum = <%= @user.gym %>;

function yogaUp() {
    yogaNum = up(yogaNum, '#yoga_num');
}

function yogaDown() {
    yogaNum = down(yogaNum, '#yoga_num');
}

function meditationUp() {
    meditationNum = up(meditationNum, '#meditation_num');
}

function meditationDown() {
    meditationNum = down(meditationNum, '#meditation_num');
}

function gymUp() {
    gymNum = up(gymNum, '#gym_num');
}

function gymDown() {
    gymNum = down(gymNum, '#gym_num');
}

function up(num, id) {
    if (num < 9) {
        num++;
    }
    changeSrc(num, id);
    return num;
}

function down(num, id) {
    if (num > 0)
        num--;
    changeSrc(num, id);
    return num;
}


function changeSrc(num, id) {
    if (num == 1)
        $(id).addClass('one');
    else
        $(id).removeClass('one');
    $(id)[0].src = '/assets/images/' + num + '.png';

    
}

function formSubmit() {
    $('#user_yoga')[0].value = yogaNum;
    $('#user_gym')[0].value = gymNum;
    $('#user_meditation')[0].value = meditationNum;
}

if (yogaNum == 1)
    $('#yoga_num').addClass('one');

if (gymNum == 1)
    $('#gym_num').addClass('one');

if (meditationNum == 1)
    $('#meditation_num').addClass('one');


function rewards() {
    $('#rewards').animate({
	left: '+=280',
    }, 1000, function() {
	// Animation complete.
    });
}

function buy_tickets() {
    $.post('<%= buy_path %>', {what: 'movie_ticket'}, 
	  function(data) {
	      if (data.success == 0) {
		  $('.alert').html('You do not have enough stars to buy this!')
	      }
	  });
}

</script>
