  <div id="stars">
    <% @user.stars.times do %>
      <%= image_tag "images/rating-star.gif" %>
    <% end %>
    <br />
    <p>You have <%= pluralize(@user.stars, 'star') %>.</p>
  </div>

<div id="activities">

  <%= form_tag('/enter_time', :method => "get") do %>
  <p>
    <%= image_tag "images/yoga.png" %>
    <%= image_tag "images/#{@user.yoga}.png", :id => 'yoga_num' %>
    <%= image_tag "images/up-arrow.png", :onclick => 'yogaUp();', :class => 'up-arrow'  %>
    <%= image_tag "images/down-arrow.png", :onclick => 'yogaDown();', :class => 'down-arrow' %>
    <%= text_field(:user, :yoga, :style => 'display: none;') %>
  </p>

  <p id="gym">
    <%= image_tag "images/gym.png" %>
    <%= image_tag "images/#{@user.gym}.png", :id => 'gym_num' %>
    <%= image_tag "images/up-arrow.png", :onclick => 'gymUp();', :class => 'up-arrow'  %>
    <%= image_tag "images/down-arrow.png", :onclick => 'gymDown();', :class => 'down-arrow' %>
    <%= text_field(:user, :gym, :style => 'display: none;') %>
  </p>

  <p>
    <%= image_tag "images/meditation.png" %>
    <%= image_tag "images/#{@user.meditation}.png", :id => 'meditation_num' %>
    <%= image_tag "images/up-arrow.png", :onclick => 'meditationUp();', :class => 'up-arrow'  %>
    <%= image_tag "images/down-arrow.png", :onclick => 'meditationDown();', :class => 'down-arrow' %>
    <%= text_field(:user, :meditation, :style => 'display: none;') %>
  </p>

  <p>
    <%= submit_tag("Submit", :onclick => 'formSubmit();') %>
  </p>
  <% end %>

  <br/>
  <%= link_to "Buy Movie Ticket", buy_path(:what => :movie_ticket)%>

<script>
var yogaNum = <%= @user.yoga %>;
function yogaUp() {
    if (yogaNum < 9) {
        yogaNum++;
    }
    changeSrc(yogaNum, '#yoga_num');
}

function yogaDown() {
    if (yogaNum > 0)
        yogaNum--;
    changeSrc(yogaNum, '#yoga_num');
}

var meditationNum = <%= @user.meditation %>;
function meditationUp() {
    if (meditationNum < 9) {
        meditationNum++;
    }
    changeSrc(meditationNum, '#meditation_num');
}

function meditationDown() {
    if (meditationNum > 0)
        meditationNum--;
    changeSrc(meditationNum, '#meditation_num');
}

var gymNum = <%= @user.gym %>;
function gymUp() {
    if (gymNum < 9) {
        gymNum++;
    }
    changeSrc(gymNum, '#gym_num');
}

function gymDown() {
    if (gymNum > 0)
        gymNum--;
    changeSrc(gymNum, '#gym_num');
}

function changeSrc(num, id) {
    if (num == 1)
        $(id).addClass('one');
    else
        $(id).removeClass('one');
    $(id)[0].src = '/assets/images/' + num + '.png';
}

function formSubmit() {
    $('#user_yoga')[0].value = yogaNum;
    $('#user_gym')[0].value = gymNum;
    $('#user_meditation')[0].value = meditationNum;
}

if (yogaNum == 1)
    $('#yoga_num').addClass('one');

if (gymNum == 1)
    $('#gym_num').addClass('one');

if (meditationNum == 1)
    $('#meditation_num').addClass('one');

</script>
