  <div id="stars">
    <% @user.stars.times do %>
      <%= image_tag "images/rating-star.gif" %>
    <% end %>
    <br />
    <p>You have <%= pluralize(@user.stars, 'star') %>.</p>
  </div>

<div id="activities">

  <%= form_tag('/enter_time', :method => "get") do %>
  <p>
    <%= image_tag "images/yoga.png" %>
    <%= image_tag "images/#{@user.yoga}.png", :id => 'yoga_num' %>
    <%= image_tag "images/up-arrow.png", :onclick => 'yogaUp();', :class => 'up-arrow'  %>
    <%= image_tag "images/down-arrow.png", :onclick => 'yogaDown();', :class => 'down-arrow' %>
    <%= text_field(:user, :yoga, :style => 'display: none;') %>
  </p>

  <p id="gym">
    <%= image_tag "images/gym.png" %>
    <%= image_tag "images/#{@user.gym}.png", :id => 'gym_num' %>
    <%= image_tag "images/up-arrow.png", :onclick => 'gymUp();', :class => 'up-arrow'  %>
    <%= image_tag "images/down-arrow.png", :onclick => 'gymDown();', :class => 'down-arrow' %>
    <%= text_field(:user, :gym, :style => 'display: none;') %>
  </p>

  <p>
    <%= image_tag "images/meditation.png" %>
    <%= image_tag "images/#{@user.meditation}.png", :id => 'meditation_num' %>
    <%= image_tag "images/up-arrow.png", :onclick => 'meditationUp();', :class => 'up-arrow'  %>
    <%= image_tag "images/down-arrow.png", :onclick => 'meditationDown();', :class => 'down-arrow' %>
    <%= text_field(:user, :meditation, :style => 'display: none;') %>
  </p>

  <p>
    <%= submit_tag("Submit", :onclick => 'formSubmit();') %>
  </p>
  <% end %>

  <br/>
  <%= link_to "Buy Movie Ticket", buy_path(:what => :movie_ticket)%>

<script>
var yogaNum = <%= @user.yoga %>;
function yogaUp() {
    if (yogaNum < 9) {
        yogaNum++;
    }
    changeYogaSrc();
}

function yogaDown() {
    if (yogaNum > 0)
        yogaNum--;
    changeYogaSrc();
}

function changeYogaSrc() {
    $('#yoga_num')[0].src = '/assets/images/' + yogaNum + '.png';
}

var meditationNum = <%= @user.meditation %>;
function meditationUp() {
    if (meditationNum < 9) {
        meditationNum++;
    }
    changeMeditationSrc();
}

function meditationDown() {
    if (meditationNum > 0)
        meditationNum--;
    changeMeditationSrc();
}

function changeMeditationSrc() {
    $('#meditation_num')[0].src = '/assets/images/' + meditationNum + '.png';
}

var gymNum = <%= @user.gym %>;
function gymUp() {
    if (gymNum < 9) {
        gymNum++;
    }
    changeGymSrc();
}

function gymDown() {
    if (gymNum > 0)
        gymNum--;
    changeGymSrc();
}

function changeGymSrc() {
    $('#gym_num')[0].src = '/assets/images/' + gymNum + '.png';
}

function formSubmit() {
    $('#user_yoga')[0].value = yogaNum;
    $('#user_gym')[0].value = gymNum;
    $('#user_meditation')[0].value = meditationNum;
}

</script>
